# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Monacoin Client
Exec=electrum-mona %u
GenericName=Monacoin Wallet
Icon=electrum-mona
Name=Electrum Monacoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/monacoin;

Name[ja]=electrum-mona
