# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Monacoin Client
Exec=electrum %u
GenericName[en_US]=Monacoin Wallet
GenericName=Monacoin Wallet
Icon=electrum
Name[en_US]=Electrum Monacoin Wallet
Name=Electrum Monacoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;

